body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

#game {
  text-align: center;
}

#description {
  margin-bottom: 5px;
}

.icon {
  width: 5x;
  height: 5px;
  vertical-align: middle;
}

#board {
  display: grid;
  grid-template-columns: repeat(15, 40px);
  grid-template-rows: repeat(15, 40px);
  gap: 1px;
  margin: 20px auto;
  border: 2px solid #333;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell img, .cell .circle {
  width: 100%;
  height: 100%;
}

.circle {
  border-radius: 50%;
  width: 80%;
  height: 80%;
}

.usa-circle {
  background-color: blue;
}

.china-circle {
  background-color: red;
}

#restart, #toggleStyle {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
